* {
  box-sizing: border-box;
}

body {
  background-color: #202538;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202538;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 20px 30px 20px 30px;
  font-size: 16px;
  font-family: montserrat, Verdana, Geneva, Tahoma, sans-serif;
  color: #60d9e9;
  background-color: #202538;
}

.nav-links{
  display: flex;
  list-style-type: none;
}

.nav-links li{
  font-size: 15px;
  font-family: montserrat, Verdana, Geneva, Tahoma, sans-serif;
  color: #60d9e9;
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.nav-links li:hover{
  color:#ded7eb;
  transition: 0.25s;
}

.about-container {
  height: 100%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  margin-bottom: 75px;
  padding: 50px;

  font-family: montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

.about-name{
  display: flex;
  font-size: 50px;
  margin: 0;
  color: #60d9e9;
  letter-spacing: 5px;
}
.about-title{
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  margin: 0px;
  font-size: 25px;
  color: #ded7eb;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.about-content{
  padding-left: 25px;
  padding-right: 25px;
  margin: 0px;
  font-size: 18px;
  color: #aca0c5;
}

.projects-container{

  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  background-color: azure;
}

.projects-title{

}

.projects-name{

}

.social{
  top: 50%;
  left: 15px;
  position: fixed;
  border-left: solid 1.5px #60d9e9;
  border-image: linear-gradient(0deg, #202538 5%, #60d9e9 50%, #202538 95%) 1;
}
.social-links {
  padding: 25px 10px 25px 10px;
  margin: 0;
  list-style-type: none;
}
.social-links li {
  padding: 10px 0px 10px 0px;
  margin: 0;
  list-style-type: none;
}
.social-links a {
  text-decoration: none;
  color: #aca0c5;
}
.skills-container {
  padding: 45px 25px 0px 25px;
}

.skills {
  margin: 0;
  padding: 15px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  color: #ded7eb;
  font-size: 12px;
  letter-spacing: 2px;
}
.skills-title{
  margin: 0px;
  padding: 0px;
  color: #e6e2ee;
}
.skills li {
  display: flex;
  padding-right: 20px;

}