* {
  box-sizing: border-box;
}

body {
  background-color: #202538;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202538;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  padding: 20px 30px 20px 30px;
  font-size: 16px;
  font-family: montserrat, Verdana, Geneva, Tahoma, sans-serif;
  color: #60d9e9;
  background-color: #202538;
}

.nav-links{
  margin: 0;
  display: flex;
  list-style-type: none;
}

.nav-links li{
  font-size: 15px;
  font-family: montserrat, Verdana, Geneva, Tahoma, sans-serif;
  color: #60d9e9;
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.2s;
}

.nav-links li:hover{
  color:#ded7eb;
  transition: 0.2s;
}

.nav-links li > .active {
  color: #ded7eb;
  transition: 0.1s;
}

.about-container {
  height: 100vh;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-top: 175px;
  padding: 50px;
  font-family: montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

.about-name{
  display: flex;
  font-size: 50px;
  margin: 0;
  color: #60d9e9;
  letter-spacing: 5px;
}
.about-title{
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  margin: 0px;
  font-size: 25px;
  color: #ded7eb;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.about-content{
  padding-left: 25px;
  padding-right: 25px;
  margin: 0px;
  font-size: 18px;
  color: #aca0c5;
}

.projects-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.card-header{
  margin: 0;
  padding-right: 10px;
  font-size: 20px;
  color: #60d9e9;
  
}
.project-name{
  margin: 0;
  font-size: 18px;
  color: #ded7eb;
  padding-left: 15px;
  border-left: solid 2.5px #60d9e9;
}
.project-card{
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 10px 0px #1a1d2c;
  border-radius: 2px;
  font-family: montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

.project-technologies{
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;
}
.project-technologies li{
  padding: 0px 5px 0px 0px;
}

.card-top{
  width: 100%;
  background-color:#1a1d2c;
  padding: 25px 25px 25px 25px;
  letter-spacing: 1px;
}
.card-content{
  color: #ded7eb;
  background-color:#1a1d2c;
  padding: 25px 25px 25px 25px;
  font-size: 14px;
}
.card-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #aca0c5;
  background-color:#1a1d2c;
  padding: 25px 25px 25px 25px;
  font-size: 14px;
  letter-spacing: 1px;
}


.social{
  top: 50%;
  left: 30px;
  position: fixed;
  border-left: solid 1.5px #60d9e9;
  border-image: linear-gradient(0deg, #202538 5%, #60d9e9 50%, #202538 95%) 1;
}
.social-links {
  padding: 25px 15px 25px 15px;
  margin: 0;
  list-style-type: none;
}
.social-links li {
  padding: 10px 0px 10px 0px;
  margin: 0;
  list-style-type: none;
}
.social-links a {
  text-decoration: none;
  color: #aca0c5;
  transition: 0.2s;
}
.social-links a:hover {
  padding-left: 2.5px;
  transition: 0.2s;
  color: #60d9e9;
}

.skills-container {
  padding: 45px 25px 0px 25px;
}

.skills {
  margin: 0;
  padding: 15px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  color: #ded7eb;
  font-size: 12px;
  letter-spacing: 2px;
}
.skills-title{
  margin: 0px;
  padding: 0px;
  color: #e6e2ee;
}
.skills li {
  display: flex;
  padding-right: 20px;

}

.contact-container {
  height: 100vh;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 175px;
  padding: 50px;
  font-family: montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

.contact-title{
  padding: 25px;
  margin: 0px;
  font-size: 35px;
  color: #ded7eb;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.contact-subtitle {
  padding: 25px;
  margin: 0px;
  font-size: 20px;
  color: #aca0c5;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contact-button {
  color: #60d9e9;
  padding: 15px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  border: solid 1px #60d9e9;
  transition: 0.2s;
}

.contact-button:hover{
  border-top: solid 1px #202538;
  border-bottom: solid 1px #202538;
  color: #ded7eb;
  transition: 0.2s;
}

.github-link{
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-size: 20px;
  color: #aca0c5;
  transition: 0.2s;
}
.github-link:hover{
  color: #60d9e9;
  transition: 0.2s;
}